<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mqttsnet.thinglinks.link.mapper.product.ProductMapper">
  <resultMap id="BaseResultMap" type="com.mqttsnet.thinglinks.link.api.domain.product.entity.Product">
    <!--@mbg.generated-->
    <!--@Table product-->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="app_id" jdbcType="VARCHAR" property="appId" />
    <result column="template_id" jdbcType="BIGINT" property="templateId" />
    <result column="product_name" jdbcType="VARCHAR" property="productName" />
    <result column="product_identification" jdbcType="VARCHAR" property="productIdentification" />
    <result column="product_type" jdbcType="VARCHAR" property="productType" />
    <result column="manufacturer_id" jdbcType="VARCHAR" property="manufacturerId" />
    <result column="manufacturer_name" jdbcType="VARCHAR" property="manufacturerName" />
    <result column="model" jdbcType="VARCHAR" property="model" />
    <result column="data_format" jdbcType="VARCHAR" property="dataFormat" />
    <result column="device_type" jdbcType="VARCHAR" property="deviceType" />
    <result column="protocol_type" jdbcType="VARCHAR" property="protocolType"/>
    <result column="status" jdbcType="VARCHAR" property="status" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="create_by" jdbcType="VARCHAR" property="createBy" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_by" jdbcType="VARCHAR" property="updateBy" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, app_id, template_id, product_name, product_identification, product_type, manufacturer_id, 
    manufacturer_name, model, data_format, device_type, protocol_type, `status`, remark, 
    create_by, create_time, update_by, update_time
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select 
    <include refid="Base_Column_List" />
    from product
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    <!--@mbg.generated-->
    delete from product
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" keyColumn="id" keyProperty="id" parameterType="com.mqttsnet.thinglinks.link.api.domain.product.entity.Product" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into product (app_id, template_id, product_name, 
      product_identification, product_type, manufacturer_id, 
      manufacturer_name, model, data_format, 
      device_type, protocol_type, `status`, 
      remark, create_by, create_time, 
      update_by, update_time)
    values (#{appId,jdbcType=VARCHAR}, #{templateId,jdbcType=BIGINT}, #{productName,jdbcType=VARCHAR},
      #{productIdentification,jdbcType=VARCHAR}, #{productType,jdbcType=VARCHAR}, #{manufacturerId,jdbcType=VARCHAR},
      #{manufacturerName,jdbcType=VARCHAR}, #{model,jdbcType=VARCHAR}, #{dataFormat,jdbcType=VARCHAR},
      #{deviceType,jdbcType=VARCHAR}, #{protocolType,jdbcType=VARCHAR}, #{status,jdbcType=VARCHAR},
      #{remark,jdbcType=VARCHAR}, #{createBy,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP},
      #{updateBy,jdbcType=VARCHAR}, #{updateTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" keyColumn="id" keyProperty="id" parameterType="com.mqttsnet.thinglinks.link.api.domain.product.entity.Product" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into product
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="appId != null and appId != ''">
        app_id,
      </if>
      <if test="templateId != null">
        template_id,
      </if>
      <if test="productName != null and productName != ''">
        product_name,
      </if>
      <if test="productIdentification != null and productIdentification != ''">
        product_identification,
      </if>
      <if test="productType != null and productType != ''">
        product_type,
      </if>
      <if test="manufacturerId != null and manufacturerId != ''">
        manufacturer_id,
      </if>
      <if test="manufacturerName != null and manufacturerName != ''">
        manufacturer_name,
      </if>
      <if test="model != null and model != ''">
        model,
      </if>
      <if test="dataFormat != null and dataFormat != ''">
        data_format,
      </if>
      <if test="deviceType != null and deviceType != ''">
        device_type,
      </if>
      <if test="protocolType != null and protocolType != ''">
        protocol_type,
      </if>
      <if test="status != null and status != ''">
        `status`,
      </if>
      <if test="remark != null and remark != ''">
        remark,
      </if>
      <if test="createBy != null and createBy != ''">
        create_by,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateBy != null and updateBy != ''">
        update_by,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="appId != null and appId != ''">
        #{appId,jdbcType=VARCHAR},
      </if>
      <if test="templateId != null">
        #{templateId,jdbcType=BIGINT},
      </if>
      <if test="productName != null and productName != ''">
        #{productName,jdbcType=VARCHAR},
      </if>
      <if test="productIdentification != null and productIdentification != ''">
        #{productIdentification,jdbcType=VARCHAR},
      </if>
      <if test="productType != null and productType != ''">
        #{productType,jdbcType=VARCHAR},
      </if>
      <if test="manufacturerId != null and manufacturerId != ''">
        #{manufacturerId,jdbcType=VARCHAR},
      </if>
      <if test="manufacturerName != null and manufacturerName != ''">
        #{manufacturerName,jdbcType=VARCHAR},
      </if>
      <if test="model != null and model != ''">
        #{model,jdbcType=VARCHAR},
      </if>
      <if test="dataFormat != null and dataFormat != ''">
        #{dataFormat,jdbcType=VARCHAR},
      </if>
      <if test="deviceType != null and deviceType != ''">
        #{deviceType,jdbcType=VARCHAR},
      </if>
      <if test="protocolType != null and protocolType != ''">
        #{protocolType,jdbcType=VARCHAR},
      </if>
      <if test="status != null and status != ''">
        #{status,jdbcType=VARCHAR},
      </if>
      <if test="remark != null and remark != ''">
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="createBy != null and createBy != ''">
        #{createBy,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateBy != null and updateBy != ''">
        #{updateBy,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.mqttsnet.thinglinks.link.api.domain.product.entity.Product">
    <!--@mbg.generated-->
    update product
    <set>
      <if test="appId != null and appId != ''">
        app_id = #{appId,jdbcType=VARCHAR},
      </if>
      <if test="templateId != null">
        template_id = #{templateId,jdbcType=BIGINT},
      </if>
      <if test="productName != null and productName != ''">
        product_name = #{productName,jdbcType=VARCHAR},
      </if>
      <if test="productIdentification != null and productIdentification != ''">
        product_identification = #{productIdentification,jdbcType=VARCHAR},
      </if>
      <if test="productType != null and productType != ''">
        product_type = #{productType,jdbcType=VARCHAR},
      </if>
      <if test="manufacturerId != null and manufacturerId != ''">
        manufacturer_id = #{manufacturerId,jdbcType=VARCHAR},
      </if>
      <if test="manufacturerName != null and manufacturerName != ''">
        manufacturer_name = #{manufacturerName,jdbcType=VARCHAR},
      </if>
      <if test="model != null and model != ''">
        model = #{model,jdbcType=VARCHAR},
      </if>
      <if test="dataFormat != null and dataFormat != ''">
        data_format = #{dataFormat,jdbcType=VARCHAR},
      </if>
      <if test="deviceType != null and deviceType != ''">
        device_type = #{deviceType,jdbcType=VARCHAR},
      </if>
      <if test="protocolType != null and protocolType != ''">
        protocol_type = #{protocolType,jdbcType=VARCHAR},
      </if>
      <if test="status != null and status != ''">
        `status` = #{status,jdbcType=VARCHAR},
      </if>
      <if test="remark != null and remark != ''">
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="createBy != null and createBy != ''">
        create_by = #{createBy,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateBy != null and updateBy != ''">
        update_by = #{updateBy,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.mqttsnet.thinglinks.link.api.domain.product.entity.Product">
    <!--@mbg.generated-->
    update product
    set app_id = #{appId,jdbcType=VARCHAR},
      template_id = #{templateId,jdbcType=BIGINT},
      product_name = #{productName,jdbcType=VARCHAR},
      product_identification = #{productIdentification,jdbcType=VARCHAR},
      product_type = #{productType,jdbcType=VARCHAR},
      manufacturer_id = #{manufacturerId,jdbcType=VARCHAR},
      manufacturer_name = #{manufacturerName,jdbcType=VARCHAR},
      model = #{model,jdbcType=VARCHAR},
      data_format = #{dataFormat,jdbcType=VARCHAR},
      device_type = #{deviceType,jdbcType=VARCHAR},
      protocol_type = #{protocolType,jdbcType=VARCHAR},
      `status` = #{status,jdbcType=VARCHAR},
      remark = #{remark,jdbcType=VARCHAR},
      create_by = #{createBy,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_by = #{updateBy,jdbcType=VARCHAR},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateBatch" parameterType="java.util.List">
    <!--@mbg.generated-->
    update product
    <trim prefix="set" suffixOverrides=",">
      <trim prefix="app_id = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id,jdbcType=BIGINT} then #{item.appId,jdbcType=VARCHAR}
        </foreach>
      </trim>
      <trim prefix="template_id = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id,jdbcType=BIGINT} then #{item.templateId,jdbcType=BIGINT}
        </foreach>
      </trim>
      <trim prefix="product_name = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id,jdbcType=BIGINT} then #{item.productName,jdbcType=VARCHAR}
        </foreach>
      </trim>
      <trim prefix="product_identification = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id,jdbcType=BIGINT} then #{item.productIdentification,jdbcType=VARCHAR}
        </foreach>
      </trim>
      <trim prefix="product_type = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id,jdbcType=BIGINT} then #{item.productType,jdbcType=VARCHAR}
        </foreach>
      </trim>
      <trim prefix="manufacturer_id = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id,jdbcType=BIGINT} then #{item.manufacturerId,jdbcType=VARCHAR}
        </foreach>
      </trim>
      <trim prefix="manufacturer_name = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id,jdbcType=BIGINT} then #{item.manufacturerName,jdbcType=VARCHAR}
        </foreach>
      </trim>
      <trim prefix="model = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id,jdbcType=BIGINT} then #{item.model,jdbcType=VARCHAR}
        </foreach>
      </trim>
      <trim prefix="data_format = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id,jdbcType=BIGINT} then #{item.dataFormat,jdbcType=VARCHAR}
        </foreach>
      </trim>
      <trim prefix="deviceType = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id,jdbcType=BIGINT} then #{item.deviceType,jdbcType=VARCHAR}
        </foreach>
      </trim>
      <trim prefix="protocol_type = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id,jdbcType=BIGINT} then #{item.protocolType,jdbcType=VARCHAR}
        </foreach>
      </trim>
      <trim prefix="`status` = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id,jdbcType=BIGINT} then #{item.status,jdbcType=VARCHAR}
        </foreach>
      </trim>
      <trim prefix="remark = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id,jdbcType=BIGINT} then #{item.remark,jdbcType=VARCHAR}
        </foreach>
      </trim>
      <trim prefix="create_by = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id,jdbcType=BIGINT} then #{item.createBy,jdbcType=VARCHAR}
        </foreach>
      </trim>
      <trim prefix="create_time = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id,jdbcType=BIGINT} then #{item.createTime,jdbcType=TIMESTAMP}
        </foreach>
      </trim>
      <trim prefix="update_by = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id,jdbcType=BIGINT} then #{item.updateBy,jdbcType=VARCHAR}
        </foreach>
      </trim>
      <trim prefix="update_time = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id,jdbcType=BIGINT} then #{item.updateTime,jdbcType=TIMESTAMP}
        </foreach>
      </trim>
    </trim>
    where id in
    <foreach close=")" collection="list" item="item" open="(" separator=", ">
      #{item.id,jdbcType=BIGINT}
    </foreach>
  </update>
  <update id="updateBatchSelective" parameterType="java.util.List">
    <!--@mbg.generated-->
    update product
    <trim prefix="set" suffixOverrides=",">
      <trim prefix="app_id = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.appId != null">
            when id = #{item.id,jdbcType=BIGINT} then #{item.appId,jdbcType=VARCHAR}
          </if>
        </foreach>
      </trim>
      <trim prefix="template_id = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.templateId != null">
            when id = #{item.id,jdbcType=BIGINT} then #{item.templateId,jdbcType=BIGINT}
          </if>
        </foreach>
      </trim>
      <trim prefix="product_name = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.productName != null">
            when id = #{item.id,jdbcType=BIGINT} then #{item.productName,jdbcType=VARCHAR}
          </if>
        </foreach>
      </trim>
      <trim prefix="product_identification = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.productIdentification != null">
            when id = #{item.id,jdbcType=BIGINT} then #{item.productIdentification,jdbcType=VARCHAR}
          </if>
        </foreach>
      </trim>
      <trim prefix="product_type = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.productType != null">
            when id = #{item.id,jdbcType=BIGINT} then #{item.productType,jdbcType=VARCHAR}
          </if>
        </foreach>
      </trim>
      <trim prefix="manufacturer_id = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.manufacturerId != null">
            when id = #{item.id,jdbcType=BIGINT} then #{item.manufacturerId,jdbcType=VARCHAR}
          </if>
        </foreach>
      </trim>
      <trim prefix="manufacturer_name = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.manufacturerName != null">
            when id = #{item.id,jdbcType=BIGINT} then #{item.manufacturerName,jdbcType=VARCHAR}
          </if>
        </foreach>
      </trim>
      <trim prefix="model = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.model != null">
            when id = #{item.id,jdbcType=BIGINT} then #{item.model,jdbcType=VARCHAR}
          </if>
        </foreach>
      </trim>
      <trim prefix="data_format = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.dataFormat != null">
            when id = #{item.id,jdbcType=BIGINT} then #{item.dataFormat,jdbcType=VARCHAR}
          </if>
        </foreach>
      </trim>
      <trim prefix="device_type = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.deviceType != null">
            when id = #{item.id,jdbcType=BIGINT} then #{item.deviceType,jdbcType=VARCHAR}
          </if>
        </foreach>
      </trim>
      <trim prefix="protocol_type = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.protocolType != null">
            when id = #{item.id,jdbcType=BIGINT} then #{item.protocolType,jdbcType=VARCHAR}
          </if>
        </foreach>
      </trim>
      <trim prefix="`status` = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.status != null">
            when id = #{item.id,jdbcType=BIGINT} then #{item.status,jdbcType=VARCHAR}
          </if>
        </foreach>
      </trim>
      <trim prefix="remark = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.remark != null">
            when id = #{item.id,jdbcType=BIGINT} then #{item.remark,jdbcType=VARCHAR}
          </if>
        </foreach>
      </trim>
      <trim prefix="create_by = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.createBy != null">
            when id = #{item.id,jdbcType=BIGINT} then #{item.createBy,jdbcType=VARCHAR}
          </if>
        </foreach>
      </trim>
      <trim prefix="create_time = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.createTime != null">
            when id = #{item.id,jdbcType=BIGINT} then #{item.createTime,jdbcType=TIMESTAMP}
          </if>
        </foreach>
      </trim>
      <trim prefix="update_by = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.updateBy != null">
            when id = #{item.id,jdbcType=BIGINT} then #{item.updateBy,jdbcType=VARCHAR}
          </if>
        </foreach>
      </trim>
      <trim prefix="update_time = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.updateTime != null">
            when id = #{item.id,jdbcType=BIGINT} then #{item.updateTime,jdbcType=TIMESTAMP}
          </if>
        </foreach>
      </trim>
    </trim>
    where id in
    <foreach close=")" collection="list" item="item" open="(" separator=", ">
      #{item.id,jdbcType=BIGINT}
    </foreach>
  </update>
  <insert id="batchInsert" keyColumn="id" keyProperty="id" parameterType="map" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into product
    (app_id, template_id, product_name, product_identification, product_type, manufacturer_id, 
      manufacturer_name, model, data_format, device_type, protocol_type, `status`, remark, 
      create_by, create_time, update_by, update_time)
    values
    <foreach collection="list" item="item" separator=",">
      (#{item.appId,jdbcType=VARCHAR}, #{item.templateId,jdbcType=BIGINT}, #{item.productName,jdbcType=VARCHAR},
        #{item.productIdentification,jdbcType=VARCHAR}, #{item.productType,jdbcType=VARCHAR},
        #{item.manufacturerId,jdbcType=VARCHAR}, #{item.manufacturerName,jdbcType=VARCHAR},
        #{item.model,jdbcType=VARCHAR}, #{item.dataFormat,jdbcType=VARCHAR}, #{item.deviceType,jdbcType=VARCHAR},
        #{item.protocolType,jdbcType=VARCHAR}, #{item.status,jdbcType=VARCHAR}, #{item.remark,jdbcType=VARCHAR},
        #{item.createBy,jdbcType=VARCHAR}, #{item.createTime,jdbcType=TIMESTAMP}, #{item.updateBy,jdbcType=VARCHAR},
        #{item.updateTime,jdbcType=TIMESTAMP})
    </foreach>
  </insert>
  <insert id="insertOrUpdate" keyColumn="id" keyProperty="id" parameterType="com.mqttsnet.thinglinks.link.api.domain.product.entity.Product" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into product
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      app_id,
      template_id,
      product_name,
      product_identification,
      product_type,
      manufacturer_id,
      manufacturer_name,
      model,
      data_format,
      device_type,
      protocol_type,
      `status`,
      remark,
      create_by,
      create_time,
      update_by,
      update_time,
    </trim>
    values
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      #{appId,jdbcType=VARCHAR},
      #{templateId,jdbcType=BIGINT},
      #{productName,jdbcType=VARCHAR},
      #{productIdentification,jdbcType=VARCHAR},
      #{productType,jdbcType=VARCHAR},
      #{manufacturerId,jdbcType=VARCHAR},
      #{manufacturerName,jdbcType=VARCHAR},
      #{model,jdbcType=VARCHAR},
      #{dataFormat,jdbcType=VARCHAR},
      #{deviceType,jdbcType=VARCHAR},
      #{protocolType,jdbcType=VARCHAR},
      #{status,jdbcType=VARCHAR},
      #{remark,jdbcType=VARCHAR},
      #{createBy,jdbcType=VARCHAR},
      #{createTime,jdbcType=TIMESTAMP},
      #{updateBy,jdbcType=VARCHAR},
      #{updateTime,jdbcType=TIMESTAMP},
    </trim>
    on duplicate key update 
    <trim suffixOverrides=",">
      <if test="id != null">
        id = #{id,jdbcType=BIGINT},
      </if>
      app_id = #{appId,jdbcType=VARCHAR},
      template_id = #{templateId,jdbcType=BIGINT},
      product_name = #{productName,jdbcType=VARCHAR},
      product_identification = #{productIdentification,jdbcType=VARCHAR},
      product_type = #{productType,jdbcType=VARCHAR},
      manufacturer_id = #{manufacturerId,jdbcType=VARCHAR},
      manufacturer_name = #{manufacturerName,jdbcType=VARCHAR},
      model = #{model,jdbcType=VARCHAR},
      data_format = #{dataFormat,jdbcType=VARCHAR},
      device_type = #{deviceType,jdbcType=VARCHAR},
      protocol_type = #{protocolType,jdbcType=VARCHAR},
      `status` = #{status,jdbcType=VARCHAR},
      remark = #{remark,jdbcType=VARCHAR},
      create_by = #{createBy,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_by = #{updateBy,jdbcType=VARCHAR},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
    </trim>
  </insert>
  <insert id="insertOrUpdateSelective" keyColumn="id" keyProperty="id" parameterType="com.mqttsnet.thinglinks.link.api.domain.product.entity.Product" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into product
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="appId != null and appId != ''">
        app_id,
      </if>
      <if test="templateId != null">
        template_id,
      </if>
      <if test="productName != null and productName != ''">
        product_name,
      </if>
      <if test="productIdentification != null and productIdentification != ''">
        product_identification,
      </if>
      <if test="productType != null and productType != ''">
        product_type,
      </if>
      <if test="manufacturerId != null and manufacturerId != ''">
        manufacturer_id,
      </if>
      <if test="manufacturerName != null and manufacturerName != ''">
        manufacturer_name,
      </if>
      <if test="model != null and model != ''">
        model,
      </if>
      <if test="dataFormat != null and dataFormat != ''">
        data_format,
      </if>
      <if test="deviceType != null and deviceType != ''">
        device_type,
      </if>
      <if test="protocolType != null and protocolType != ''">
        protocol_type,
      </if>
      <if test="status != null and status != ''">
        `status`,
      </if>
      <if test="remark != null and remark != ''">
        remark,
      </if>
      <if test="createBy != null and createBy != ''">
        create_by,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateBy != null and updateBy != ''">
        update_by,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
    </trim>
    values
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="appId != null and appId != ''">
        #{appId,jdbcType=VARCHAR},
      </if>
      <if test="templateId != null">
        #{templateId,jdbcType=BIGINT},
      </if>
      <if test="productName != null and productName != ''">
        #{productName,jdbcType=VARCHAR},
      </if>
      <if test="productIdentification != null and productIdentification != ''">
        #{productIdentification,jdbcType=VARCHAR},
      </if>
      <if test="productType != null and productType != ''">
        #{productType,jdbcType=VARCHAR},
      </if>
      <if test="manufacturerId != null and manufacturerId != ''">
        #{manufacturerId,jdbcType=VARCHAR},
      </if>
      <if test="manufacturerName != null and manufacturerName != ''">
        #{manufacturerName,jdbcType=VARCHAR},
      </if>
      <if test="model != null and model != ''">
        #{model,jdbcType=VARCHAR},
      </if>
      <if test="dataFormat != null and dataFormat != ''">
        #{dataFormat,jdbcType=VARCHAR},
      </if>
      <if test="deviceType != null and deviceType != ''">
        #{deviceType,jdbcType=VARCHAR},
      </if>
      <if test="protocolType != null and protocolType != ''">
        #{protocolType,jdbcType=VARCHAR},
      </if>
      <if test="status != null and status != ''">
        #{status,jdbcType=VARCHAR},
      </if>
      <if test="remark != null and remark != ''">
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="createBy != null and createBy != ''">
        #{createBy,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateBy != null and updateBy != ''">
        #{updateBy,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
    on duplicate key update 
    <trim suffixOverrides=",">
      <if test="id != null">
        id = #{id,jdbcType=BIGINT},
      </if>
      <if test="appId != null and appId != ''">
        app_id = #{appId,jdbcType=VARCHAR},
      </if>
      <if test="templateId != null">
        template_id = #{templateId,jdbcType=BIGINT},
      </if>
      <if test="productName != null and productName != ''">
        product_name = #{productName,jdbcType=VARCHAR},
      </if>
      <if test="productIdentification != null and productIdentification != ''">
        product_identification = #{productIdentification,jdbcType=VARCHAR},
      </if>
      <if test="productType != null and productType != ''">
        product_type = #{productType,jdbcType=VARCHAR},
      </if>
      <if test="manufacturerId != null and manufacturerId != ''">
        manufacturer_id = #{manufacturerId,jdbcType=VARCHAR},
      </if>
      <if test="manufacturerName != null and manufacturerName != ''">
        manufacturer_name = #{manufacturerName,jdbcType=VARCHAR},
      </if>
      <if test="model != null and model != ''">
        model = #{model,jdbcType=VARCHAR},
      </if>
      <if test="dataFormat != null and dataFormat != ''">
        data_format = #{dataFormat,jdbcType=VARCHAR},
      </if>
      <if test="deviceType != null and deviceType != ''">
        device_type = #{deviceType,jdbcType=VARCHAR},
      </if>
      <if test="protocolType != null and protocolType != ''">
        protocol_type = #{protocolType,jdbcType=VARCHAR},
      </if>
      <if test="status != null and status != ''">
        `status` = #{status,jdbcType=VARCHAR},
      </if>
      <if test="remark != null and remark != ''">
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="createBy != null and createBy != ''">
        create_by = #{createBy,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateBy != null and updateBy != ''">
        update_by = #{updateBy,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>

  <select id="selectProductList" parameterType="com.mqttsnet.thinglinks.link.api.domain.product.entity.Product" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from product
    <where>
      <if test="productName != null  and productName != ''"> and product_name like concat('%', #{productName}, '%')</if>
      <if test="manufacturerId != null  and manufacturerId != ''"> and manufacturer_id = #{manufacturerId}</if>
      <if test="manufacturerName != null  and manufacturerName != ''"> and manufacturer_name like concat('%', #{manufacturerName}, '%')</if>
      <if test="model != null  and model != ''"> and model = #{model}</if>
    </where>
  </select>

  <select id="selectProductById" parameterType="Long" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from product
    where id = #{id}
  </select>

  <insert id="insertProduct" parameterType="com.mqttsnet.thinglinks.link.api.domain.product.entity.Product" useGeneratedKeys="true" keyProperty="id">
    insert into product
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="appId != null and appId != ''">app_id,</if>
      <if test="templateId != null">template_id,</if>
      <if test="productName != null and productName != ''">product_name,</if>
      <if test="productIdentification != null and productIdentification != ''">product_identification,</if>
      <if test="productType != null and productType != ''">product_type,</if>
      <if test="manufacturerId != null and manufacturerId != ''">manufacturer_id,</if>
      <if test="manufacturerName != null and manufacturerName != ''">manufacturer_name,</if>
      <if test="model != null and model != ''">model,</if>
      <if test="dataFormat != null and dataFormat != ''">data_format,</if>
      <if test="deviceType != null and deviceType != ''">device_type,</if>
      <if test="protocolType != null and protocolType != ''">protocol_type,</if>
      <if test="status != null and status != ''">status,</if>
      <if test="remark != null">remark,</if>
      <if test="createBy != null">create_by,</if>
      <if test="createTime != null">create_time,</if>
      <if test="updateBy != null">update_by,</if>
      <if test="updateTime != null">update_time,</if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="appId != null and appId != ''">#{appId},</if>
      <if test="templateId != null">#{templateId},</if>
      <if test="productName != null and productName != ''">#{productName},</if>
      <if test="productIdentification != null and productIdentification != ''">#{productIdentification},</if>
      <if test="productType != null and productType != ''">#{productType},</if>
      <if test="manufacturerId != null and manufacturerId != ''">#{manufacturerId},</if>
      <if test="manufacturerName != null and manufacturerName != ''">#{manufacturerName},</if>
      <if test="model != null and model != ''">#{model},</if>
      <if test="dataFormat != null and dataFormat != ''">#{dataFormat},</if>
      <if test="deviceType != null and deviceType != ''">#{deviceType},</if>
      <if test="protocolType != null and protocolType != ''">#{protocolType},</if>
      <if test="status != null and status != ''">#{status},</if>
      <if test="remark != null">#{remark},</if>
      <if test="createBy != null">#{createBy},</if>
      <if test="createTime != null">#{createTime},</if>
      <if test="updateBy != null">#{updateBy},</if>
      <if test="updateTime != null">#{updateTime},</if>
    </trim>
  </insert>

  <update id="updateProduct" parameterType="com.mqttsnet.thinglinks.link.api.domain.product.entity.Product">
    update product
    <trim prefix="SET" suffixOverrides=",">
      <if test="appId != null and appId != ''">app_id = #{appId},</if>
      <if test="templateId != null">template_id = #{templateId},</if>
      <if test="productName != null and productName != ''">product_name = #{productName},</if>
      <if test="productIdentification != null and productIdentification != ''">product_identification = #{productIdentification},</if>
      <if test="productType != null and productType != ''">product_type = #{productType},</if>
      <if test="manufacturerId != null and manufacturerId != ''">manufacturer_id = #{manufacturerId},</if>
      <if test="manufacturerName != null and manufacturerName != ''">manufacturer_name = #{manufacturerName},</if>
      <if test="model != null and model != ''">model = #{model},</if>
      <if test="dataFormat != null and dataFormat != ''">data_format = #{dataFormat},</if>
      <if test="deviceType != null and deviceType != ''">device_type = #{deviceType},</if>
      <if test="protocolType != null and protocolType != ''">protocol_type = #{protocolType},</if>
      <if test="status != null and status != ''">status = #{status},</if>
      <if test="remark != null">remark = #{remark},</if>
      <if test="createBy != null">create_by = #{createBy},</if>
      <if test="createTime != null">create_time = #{createTime},</if>
      <if test="updateBy != null">update_by = #{updateBy},</if>
      <if test="updateTime != null">update_time = #{updateTime},</if>
    </trim>
    where id = #{id}
  </update>

  <delete id="deleteProductById" parameterType="Long">
    delete from product where id = #{id}
  </delete>

  <delete id="deleteProductByIds" parameterType="String">
    delete from product where id in
    <foreach item="id" collection="array" open="(" separator="," close=")">
      #{id}
    </foreach>
  </delete>

<!--auto generated by ShiHuan Sun  E-mail: 13733918655@163.com   on 2022-02-17-->
  <select id="findOneByProductName" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List"/>
    from product
    <where>
      <if test="productName != null">
        and product_name=#{productName,jdbcType=VARCHAR}
      </if>
    </where>
  </select>

<!--auto generated by ShiHuan Sun  E-mail: 13733918655@163.com   on 2022-03-25-->
  <select id="selectByManufacturerIdAndModelAndDeviceType" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List"/>
    from product
    <where>
      <if test="manufacturerId != null">
        and manufacturer_id=#{manufacturerId,jdbcType=VARCHAR}
      </if>
      <if test="model != null">
        and model=#{model,jdbcType=VARCHAR}
      </if>
      <if test="deviceType != null">
        and device_type=#{deviceType,jdbcType=VARCHAR}
      </if>
    </where>
  </select>

<!--auto generated by ShiHuan Sun  E-mail: 13733918655@163.com   on 2022-03-25-->
  <select id="findOneByManufacturerIdAndModelAndDeviceType" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List"/>
    from product
    <where>
      <if test="manufacturerId != null">
        and manufacturer_id=#{manufacturerId,jdbcType=VARCHAR}
      </if>
      <if test="model != null">
        and model=#{model,jdbcType=VARCHAR}
      </if>
      <if test="deviceType != null">
        and device_type=#{deviceType,jdbcType=VARCHAR}
      </if>
    </where>
  </select>
</mapper>