<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mqttsnet.thinglinks.video.mapper.media.VideoMediaServerMapper">
    <!--
        代码生成器 by 2024-07-03 17:56:38
        自定义sql建议在base文件夹同级新建ext文件夹，并新建同名且同namespace的xml进行编写。方便修改字段时，重新生成此文件。
    -->

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.mqttsnet.thinglinks.video.entity.media.VideoMediaServer">
        <id column="id" property="id"/>
        <result column="app_id" property="appId"/>
        <result column="host" property="host"/>
        <result column="hook_host" property="hookHost"/>
        <result column="sdp_host" property="sdpHost"/>
        <result column="stream_host" property="streamHost"/>
        <result column="http_port" property="httpPort"/>
        <result column="http_ssl_port" property="httpSslPort"/>
        <result column="rtmp_port" property="rtmpPort"/>
        <result column="rtmp_ssl_port" property="rtmpSslPort"/>
        <result column="rtp_proxy_port" property="rtpProxyPort"/>
        <result column="rtsp_port" property="rtspPort"/>
        <result column="rtsp_ssl_port" property="rtspSslPort"/>
        <result column="flv_port" property="flvPort"/>
        <result column="flv_ssl_port" property="flvSslPort"/>
        <result column="ws_flv_port" property="wsFlvPort"/>
        <result column="ws_flv_ssl_port" property="wsFlvSslPort"/>
        <result column="auto_config" property="autoConfig"/>
        <result column="secret" property="secret"/>
        <result column="type" property="type"/>
        <result column="rtp_enable" property="rtpEnable"/>
        <result column="rtp_port_range" property="rtpPortRange"/>
        <result column="send_rtp_port_range" property="sendRtpPortRange"/>
        <result column="record_assist_port" property="recordAssistPort"/>
        <result column="default_server" property="defaultServer"/>
        <result column="hook_alive_interval" property="hookAliveInterval"/>
        <result column="record_path" property="recordPath"/>
        <result column="record_day" property="recordDay"/>
        <result column="transcode_suffix" property="transcodeSuffix"/>
        <result column="remark" property="remark"/>
        <result column="created_time" property="createdTime"/>
        <result column="created_by" property="createdBy"/>
        <result column="updated_time" property="updatedTime"/>
        <result column="updated_by" property="updatedBy"/>
        <result column="created_org_id" property="createdOrgId"/>
        <result column="extend_params" property="extendParams"/>
        <result column="name" property="name"/>
        <result column="version" property="version"/>
        <result column="capabilities" property="capabilities"/>
        <result column="max_streams" property="maxStreams"/>
        <result column="current_streams" property="currentStreams"/>
        <result column="cpu_usage" property="cpuUsage"/>
        <result column="memory_usage" property="memoryUsage"/>
        <result column="network_in_speed" property="networkInSpeed"/>
        <result column="network_out_speed" property="networkOutSpeed"/>
        <result column="media_identification" property="mediaIdentification"/>
        <result column="online_status" property="onlineStatus"/>
        <result column="last_alive_time" property="lastAliveTime"/>
        <result column="deleted" property="deleted"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, app_id, name, media_identification, host, hook_host, sdp_host, stream_host,
        http_port, http_ssl_port, rtmp_port, rtmp_ssl_port, rtp_proxy_port, rtsp_port,
        rtsp_ssl_port, flv_port, flv_ssl_port, ws_flv_port, ws_flv_ssl_port, auto_config,
        secret, type, rtp_enable, rtp_port_range, send_rtp_port_range, record_assist_port,
        default_server, last_alive_time, hook_alive_interval, record_path, record_day, transcode_suffix,
        online_status, extend_params, remark,
        version, capabilities, max_streams, current_streams, cpu_usage,
        memory_usage, network_in_speed, network_out_speed,
        deleted, created_time, created_by, updated_time, updated_by, created_org_id
    </sql>

</mapper>
