<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mqttsnet.thinglinks.link.mapper.device.DeviceLocationMapper">
  <resultMap id="BaseResultMap" type="com.mqttsnet.thinglinks.link.api.domain.device.entity.DeviceLocation">
    <!--@mbg.generated-->
    <!--@Table device_location-->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="device_identification" jdbcType="VARCHAR" property="deviceIdentification" />
    <result column="latitude" jdbcType="DECIMAL" property="latitude" />
    <result column="longitude" jdbcType="DECIMAL" property="longitude" />
    <result column="full_name" jdbcType="VARCHAR" property="fullName" />
    <result column="province_code" jdbcType="VARCHAR" property="provinceCode" />
    <result column="city_code" jdbcType="VARCHAR" property="cityCode" />
    <result column="region_code" jdbcType="VARCHAR" property="regionCode" />
    <result column="create_by" jdbcType="VARCHAR" property="createBy" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_by" jdbcType="VARCHAR" property="updateBy" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, device_identification, latitude, longitude, full_name, province_code, city_code, 
    region_code, create_by, create_time, update_by, update_time, remark
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select 
    <include refid="Base_Column_List" />
    from device_location
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    <!--@mbg.generated-->
    delete from device_location
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" keyColumn="id" keyProperty="id" parameterType="com.mqttsnet.thinglinks.link.api.domain.device.entity.DeviceLocation" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into device_location (device_identification, latitude, 
      longitude, full_name, province_code, 
      city_code, region_code, create_by, 
      create_time, update_by, update_time, 
      remark)
    values (#{device_identification,jdbcType=VARCHAR}, #{latitude,jdbcType=DECIMAL}, 
      #{longitude,jdbcType=DECIMAL}, #{full_name,jdbcType=VARCHAR}, #{province_code,jdbcType=VARCHAR}, 
      #{city_code,jdbcType=VARCHAR}, #{region_code,jdbcType=VARCHAR}, #{create_by,jdbcType=VARCHAR}, 
      #{create_time,jdbcType=TIMESTAMP}, #{update_by,jdbcType=VARCHAR}, #{update_time,jdbcType=TIMESTAMP}, 
      #{remark,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" keyColumn="id" keyProperty="id" parameterType="com.mqttsnet.thinglinks.link.api.domain.device.entity.DeviceLocation" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into device_location
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="device_identification != null and device_identification != ''">
        device_identification,
      </if>
      <if test="latitude != null">
        latitude,
      </if>
      <if test="longitude != null">
        longitude,
      </if>
      <if test="full_name != null and full_name != ''">
        full_name,
      </if>
      <if test="province_code != null and province_code != ''">
        province_code,
      </if>
      <if test="city_code != null and city_code != ''">
        city_code,
      </if>
      <if test="region_code != null and region_code != ''">
        region_code,
      </if>
      <if test="create_by != null and create_by != ''">
        create_by,
      </if>
      <if test="create_time != null">
        create_time,
      </if>
      <if test="update_by != null and update_by != ''">
        update_by,
      </if>
      <if test="update_time != null">
        update_time,
      </if>
      <if test="remark != null and remark != ''">
        remark,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="device_identification != null and device_identification != ''">
        #{device_identification,jdbcType=VARCHAR},
      </if>
      <if test="latitude != null">
        #{latitude,jdbcType=DECIMAL},
      </if>
      <if test="longitude != null">
        #{longitude,jdbcType=DECIMAL},
      </if>
      <if test="full_name != null and full_name != ''">
        #{full_name,jdbcType=VARCHAR},
      </if>
      <if test="province_code != null and province_code != ''">
        #{province_code,jdbcType=VARCHAR},
      </if>
      <if test="city_code != null and city_code != ''">
        #{city_code,jdbcType=VARCHAR},
      </if>
      <if test="region_code != null and region_code != ''">
        #{region_code,jdbcType=VARCHAR},
      </if>
      <if test="create_by != null and create_by != ''">
        #{create_by,jdbcType=VARCHAR},
      </if>
      <if test="create_time != null">
        #{create_time,jdbcType=TIMESTAMP},
      </if>
      <if test="update_by != null and update_by != ''">
        #{update_by,jdbcType=VARCHAR},
      </if>
      <if test="update_time != null">
        #{update_time,jdbcType=TIMESTAMP},
      </if>
      <if test="remark != null and remark != ''">
        #{remark,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.mqttsnet.thinglinks.link.api.domain.device.entity.DeviceLocation">
    <!--@mbg.generated-->
    update device_location
    <set>
      <if test="device_identification != null and device_identification != ''">
        device_identification = #{device_identification,jdbcType=VARCHAR},
      </if>
      <if test="latitude != null">
        latitude = #{latitude,jdbcType=DECIMAL},
      </if>
      <if test="longitude != null">
        longitude = #{longitude,jdbcType=DECIMAL},
      </if>
      <if test="full_name != null and full_name != ''">
        full_name = #{full_name,jdbcType=VARCHAR},
      </if>
      <if test="province_code != null and province_code != ''">
        province_code = #{province_code,jdbcType=VARCHAR},
      </if>
      <if test="city_code != null and city_code != ''">
        city_code = #{city_code,jdbcType=VARCHAR},
      </if>
      <if test="region_code != null and region_code != ''">
        region_code = #{region_code,jdbcType=VARCHAR},
      </if>
      <if test="create_by != null and create_by != ''">
        create_by = #{create_by,jdbcType=VARCHAR},
      </if>
      <if test="create_time != null">
        create_time = #{create_time,jdbcType=TIMESTAMP},
      </if>
      <if test="update_by != null and update_by != ''">
        update_by = #{update_by,jdbcType=VARCHAR},
      </if>
      <if test="update_time != null">
        update_time = #{update_time,jdbcType=TIMESTAMP},
      </if>
      <if test="remark != null and remark != ''">
        remark = #{remark,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.mqttsnet.thinglinks.link.api.domain.device.entity.DeviceLocation">
    <!--@mbg.generated-->
    update device_location
    set device_identification = #{device_identification,jdbcType=VARCHAR},
      latitude = #{latitude,jdbcType=DECIMAL},
      longitude = #{longitude,jdbcType=DECIMAL},
      full_name = #{full_name,jdbcType=VARCHAR},
      province_code = #{province_code,jdbcType=VARCHAR},
      city_code = #{city_code,jdbcType=VARCHAR},
      region_code = #{region_code,jdbcType=VARCHAR},
      create_by = #{create_by,jdbcType=VARCHAR},
      create_time = #{create_time,jdbcType=TIMESTAMP},
      update_by = #{update_by,jdbcType=VARCHAR},
      update_time = #{update_time,jdbcType=TIMESTAMP},
      remark = #{remark,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateBatch" parameterType="java.util.List">
    <!--@mbg.generated-->
    update device_location
    <trim prefix="set" suffixOverrides=",">
      <trim prefix="device_identification = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id,jdbcType=BIGINT} then #{item.device_identification,jdbcType=VARCHAR}
        </foreach>
      </trim>
      <trim prefix="latitude = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id,jdbcType=BIGINT} then #{item.latitude,jdbcType=DECIMAL}
        </foreach>
      </trim>
      <trim prefix="longitude = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id,jdbcType=BIGINT} then #{item.longitude,jdbcType=DECIMAL}
        </foreach>
      </trim>
      <trim prefix="full_name = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id,jdbcType=BIGINT} then #{item.full_name,jdbcType=VARCHAR}
        </foreach>
      </trim>
      <trim prefix="province_code = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id,jdbcType=BIGINT} then #{item.province_code,jdbcType=VARCHAR}
        </foreach>
      </trim>
      <trim prefix="city_code = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id,jdbcType=BIGINT} then #{item.city_code,jdbcType=VARCHAR}
        </foreach>
      </trim>
      <trim prefix="region_code = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id,jdbcType=BIGINT} then #{item.region_code,jdbcType=VARCHAR}
        </foreach>
      </trim>
      <trim prefix="create_by = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id,jdbcType=BIGINT} then #{item.create_by,jdbcType=VARCHAR}
        </foreach>
      </trim>
      <trim prefix="create_time = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id,jdbcType=BIGINT} then #{item.create_time,jdbcType=TIMESTAMP}
        </foreach>
      </trim>
      <trim prefix="update_by = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id,jdbcType=BIGINT} then #{item.update_by,jdbcType=VARCHAR}
        </foreach>
      </trim>
      <trim prefix="update_time = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id,jdbcType=BIGINT} then #{item.update_time,jdbcType=TIMESTAMP}
        </foreach>
      </trim>
      <trim prefix="remark = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id,jdbcType=BIGINT} then #{item.remark,jdbcType=VARCHAR}
        </foreach>
      </trim>
    </trim>
    where id in
    <foreach close=")" collection="list" item="item" open="(" separator=", ">
      #{item.id,jdbcType=BIGINT}
    </foreach>
  </update>
  <update id="updateBatchSelective" parameterType="java.util.List">
    <!--@mbg.generated-->
    update device_location
    <trim prefix="set" suffixOverrides=",">
      <trim prefix="device_identification = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.device_identification != null">
            when id = #{item.id,jdbcType=BIGINT} then #{item.device_identification,jdbcType=VARCHAR}
          </if>
        </foreach>
      </trim>
      <trim prefix="latitude = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.latitude != null">
            when id = #{item.id,jdbcType=BIGINT} then #{item.latitude,jdbcType=DECIMAL}
          </if>
        </foreach>
      </trim>
      <trim prefix="longitude = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.longitude != null">
            when id = #{item.id,jdbcType=BIGINT} then #{item.longitude,jdbcType=DECIMAL}
          </if>
        </foreach>
      </trim>
      <trim prefix="full_name = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.full_name != null">
            when id = #{item.id,jdbcType=BIGINT} then #{item.full_name,jdbcType=VARCHAR}
          </if>
        </foreach>
      </trim>
      <trim prefix="province_code = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.province_code != null">
            when id = #{item.id,jdbcType=BIGINT} then #{item.province_code,jdbcType=VARCHAR}
          </if>
        </foreach>
      </trim>
      <trim prefix="city_code = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.city_code != null">
            when id = #{item.id,jdbcType=BIGINT} then #{item.city_code,jdbcType=VARCHAR}
          </if>
        </foreach>
      </trim>
      <trim prefix="region_code = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.region_code != null">
            when id = #{item.id,jdbcType=BIGINT} then #{item.region_code,jdbcType=VARCHAR}
          </if>
        </foreach>
      </trim>
      <trim prefix="create_by = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.create_by != null">
            when id = #{item.id,jdbcType=BIGINT} then #{item.create_by,jdbcType=VARCHAR}
          </if>
        </foreach>
      </trim>
      <trim prefix="create_time = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.create_time != null">
            when id = #{item.id,jdbcType=BIGINT} then #{item.create_time,jdbcType=TIMESTAMP}
          </if>
        </foreach>
      </trim>
      <trim prefix="update_by = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.update_by != null">
            when id = #{item.id,jdbcType=BIGINT} then #{item.update_by,jdbcType=VARCHAR}
          </if>
        </foreach>
      </trim>
      <trim prefix="update_time = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.update_time != null">
            when id = #{item.id,jdbcType=BIGINT} then #{item.update_time,jdbcType=TIMESTAMP}
          </if>
        </foreach>
      </trim>
      <trim prefix="remark = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.remark != null">
            when id = #{item.id,jdbcType=BIGINT} then #{item.remark,jdbcType=VARCHAR}
          </if>
        </foreach>
      </trim>
    </trim>
    where id in
    <foreach close=")" collection="list" item="item" open="(" separator=", ">
      #{item.id,jdbcType=BIGINT}
    </foreach>
  </update>
  <insert id="batchInsert" keyColumn="id" keyProperty="id" parameterType="map" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into device_location
    (device_identification, latitude, longitude, full_name, province_code, city_code, 
      region_code, create_by, create_time, update_by, update_time, remark)
    values
    <foreach collection="list" item="item" separator=",">
      (#{item.device_identification,jdbcType=VARCHAR}, #{item.latitude,jdbcType=DECIMAL}, 
        #{item.longitude,jdbcType=DECIMAL}, #{item.full_name,jdbcType=VARCHAR}, #{item.province_code,jdbcType=VARCHAR}, 
        #{item.city_code,jdbcType=VARCHAR}, #{item.region_code,jdbcType=VARCHAR}, #{item.create_by,jdbcType=VARCHAR}, 
        #{item.create_time,jdbcType=TIMESTAMP}, #{item.update_by,jdbcType=VARCHAR}, #{item.update_time,jdbcType=TIMESTAMP}, 
        #{item.remark,jdbcType=VARCHAR})
    </foreach>
  </insert>
  <insert id="insertOrUpdate" keyColumn="id" keyProperty="id" parameterType="com.mqttsnet.thinglinks.link.api.domain.device.entity.DeviceLocation" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into device_location
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      device_identification,
      latitude,
      longitude,
      full_name,
      province_code,
      city_code,
      region_code,
      create_by,
      create_time,
      update_by,
      update_time,
      remark,
    </trim>
    values
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      #{device_identification,jdbcType=VARCHAR},
      #{latitude,jdbcType=DECIMAL},
      #{longitude,jdbcType=DECIMAL},
      #{full_name,jdbcType=VARCHAR},
      #{province_code,jdbcType=VARCHAR},
      #{city_code,jdbcType=VARCHAR},
      #{region_code,jdbcType=VARCHAR},
      #{create_by,jdbcType=VARCHAR},
      #{create_time,jdbcType=TIMESTAMP},
      #{update_by,jdbcType=VARCHAR},
      #{update_time,jdbcType=TIMESTAMP},
      #{remark,jdbcType=VARCHAR},
    </trim>
    on duplicate key update 
    <trim suffixOverrides=",">
      <if test="id != null">
        id = #{id,jdbcType=BIGINT},
      </if>
      device_identification = #{device_identification,jdbcType=VARCHAR},
      latitude = #{latitude,jdbcType=DECIMAL},
      longitude = #{longitude,jdbcType=DECIMAL},
      full_name = #{full_name,jdbcType=VARCHAR},
      province_code = #{province_code,jdbcType=VARCHAR},
      city_code = #{city_code,jdbcType=VARCHAR},
      region_code = #{region_code,jdbcType=VARCHAR},
      create_by = #{create_by,jdbcType=VARCHAR},
      create_time = #{create_time,jdbcType=TIMESTAMP},
      update_by = #{update_by,jdbcType=VARCHAR},
      update_time = #{update_time,jdbcType=TIMESTAMP},
      remark = #{remark,jdbcType=VARCHAR},
    </trim>
  </insert>
  <insert id="insertOrUpdateSelective" keyColumn="id" keyProperty="id" parameterType="com.mqttsnet.thinglinks.link.api.domain.device.entity.DeviceLocation" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into device_location
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="device_identification != null and device_identification != ''">
        device_identification,
      </if>
      <if test="latitude != null">
        latitude,
      </if>
      <if test="longitude != null">
        longitude,
      </if>
      <if test="full_name != null and full_name != ''">
        full_name,
      </if>
      <if test="province_code != null and province_code != ''">
        province_code,
      </if>
      <if test="city_code != null and city_code != ''">
        city_code,
      </if>
      <if test="region_code != null and region_code != ''">
        region_code,
      </if>
      <if test="create_by != null and create_by != ''">
        create_by,
      </if>
      <if test="create_time != null">
        create_time,
      </if>
      <if test="update_by != null and update_by != ''">
        update_by,
      </if>
      <if test="update_time != null">
        update_time,
      </if>
      <if test="remark != null and remark != ''">
        remark,
      </if>
    </trim>
    values
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="device_identification != null and device_identification != ''">
        #{device_identification,jdbcType=VARCHAR},
      </if>
      <if test="latitude != null">
        #{latitude,jdbcType=DECIMAL},
      </if>
      <if test="longitude != null">
        #{longitude,jdbcType=DECIMAL},
      </if>
      <if test="full_name != null and full_name != ''">
        #{full_name,jdbcType=VARCHAR},
      </if>
      <if test="province_code != null and province_code != ''">
        #{province_code,jdbcType=VARCHAR},
      </if>
      <if test="city_code != null and city_code != ''">
        #{city_code,jdbcType=VARCHAR},
      </if>
      <if test="region_code != null and region_code != ''">
        #{region_code,jdbcType=VARCHAR},
      </if>
      <if test="create_by != null and create_by != ''">
        #{create_by,jdbcType=VARCHAR},
      </if>
      <if test="create_time != null">
        #{create_time,jdbcType=TIMESTAMP},
      </if>
      <if test="update_by != null and update_by != ''">
        #{update_by,jdbcType=VARCHAR},
      </if>
      <if test="update_time != null">
        #{update_time,jdbcType=TIMESTAMP},
      </if>
      <if test="remark != null and remark != ''">
        #{remark,jdbcType=VARCHAR},
      </if>
    </trim>
    on duplicate key update 
    <trim suffixOverrides=",">
      <if test="id != null">
        id = #{id,jdbcType=BIGINT},
      </if>
      <if test="device_identification != null and device_identification != ''">
        device_identification = #{device_identification,jdbcType=VARCHAR},
      </if>
      <if test="latitude != null">
        latitude = #{latitude,jdbcType=DECIMAL},
      </if>
      <if test="longitude != null">
        longitude = #{longitude,jdbcType=DECIMAL},
      </if>
      <if test="full_name != null and full_name != ''">
        full_name = #{full_name,jdbcType=VARCHAR},
      </if>
      <if test="province_code != null and province_code != ''">
        province_code = #{province_code,jdbcType=VARCHAR},
      </if>
      <if test="city_code != null and city_code != ''">
        city_code = #{city_code,jdbcType=VARCHAR},
      </if>
      <if test="region_code != null and region_code != ''">
        region_code = #{region_code,jdbcType=VARCHAR},
      </if>
      <if test="create_by != null and create_by != ''">
        create_by = #{create_by,jdbcType=VARCHAR},
      </if>
      <if test="create_time != null">
        create_time = #{create_time,jdbcType=TIMESTAMP},
      </if>
      <if test="update_by != null and update_by != ''">
        update_by = #{update_by,jdbcType=VARCHAR},
      </if>
      <if test="update_time != null">
        update_time = #{update_time,jdbcType=TIMESTAMP},
      </if>
      <if test="remark != null and remark != ''">
        remark = #{remark,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
</mapper>