<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mqttsnet.thinglinks.link.mapper.device.DeviceDatasMapper">
    <resultMap id="BaseResultMap" type="com.mqttsnet.thinglinks.link.api.domain.device.entity.DeviceDatas">
        <!--@mbg.generated-->
        <!--@Table device_datas-->
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="device_identification" jdbcType="VARCHAR" property="deviceIdentification"/>
        <result column="protocol_type" jdbcType="VARCHAR" property="protocolType"/>
        <result column="message_id" jdbcType="VARCHAR" property="messageId"/>
        <result column="topic" jdbcType="VARCHAR" property="topic"/>
        <result column="message" jdbcType="LONGVARCHAR" property="message"/>
        <result column="status" jdbcType="VARCHAR" property="status"/>
        <result column="report_time" jdbcType="TIMESTAMP" property="reportTime"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
    </resultMap>
    <sql id="Base_Column_List">
        <!--@mbg.generated-->
        id,
        device_identification,
        protocol_type,
        message_id,
        topic,
        message,
        `status`,
        report_time,
        create_time
    </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
        <!--@mbg.generated-->
        select
        <include refid="Base_Column_List"/>
        from device_datas
        where id = #{id,jdbcType=BIGINT}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
        <!--@mbg.generated-->
        delete
        from device_datas
        where id = #{id,jdbcType=BIGINT}
    </delete>
    <insert id="insert" keyColumn="id" keyProperty="id"
            parameterType="com.mqttsnet.thinglinks.link.api.domain.device.entity.DeviceDatas" useGeneratedKeys="true">
        <!--@mbg.generated-->
        insert into device_datas (device_identification, protocol_type,
                                  message_id, topic, message,
                                  `status`, report_time, create_time)
        values (#{deviceIdentification,jdbcType=VARCHAR}, #{protocolType,jdbcType=VARCHAR},
                #{messageId,jdbcType=VARCHAR}, #{topic,jdbcType=VARCHAR}, #{message,jdbcType=LONGVARCHAR},
                #{status,jdbcType=VARCHAR}, #{reportTime,jdbcType=TIMESTAMP}, #{createTime,jdbcType=TIMESTAMP})
    </insert>
    <insert id="insertSelective" keyColumn="id" keyProperty="id"
            parameterType="com.mqttsnet.thinglinks.link.api.domain.device.entity.DeviceDatas" useGeneratedKeys="true">
        <!--@mbg.generated-->
        insert into device_datas
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="deviceIdentification != null">
                device_identification,
            </if>
            <if test="protocolType != null">
                protocol_type,
            </if>
            <if test="messageId != null">
                message_id,
            </if>
            <if test="topic != null">
                topic,
            </if>
            <if test="message != null">
                message,
            </if>
            <if test="status != null">
                `status`,
            </if>
            <if test="reportTime != null">
                report_time,
            </if>
            <if test="createTime != null">
                create_time,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="deviceIdentification != null">
                #{deviceIdentification,jdbcType=VARCHAR},
            </if>
            <if test="protocolType != null">
                #{protocolType,jdbcType=VARCHAR},
            </if>
            <if test="messageId != null">
                #{messageId,jdbcType=VARCHAR},
            </if>
            <if test="topic != null">
                #{topic,jdbcType=VARCHAR},
            </if>
            <if test="message != null">
                #{message,jdbcType=LONGVARCHAR},
            </if>
            <if test="status != null">
                #{status,jdbcType=VARCHAR},
            </if>
            <if test="reportTime != null">
                #{reportTime,jdbcType=TIMESTAMP},
            </if>
            <if test="createTime != null">
                #{createTime,jdbcType=TIMESTAMP},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.mqttsnet.thinglinks.link.api.domain.device.entity.DeviceDatas">
        <!--@mbg.generated-->
        update device_datas
        <set>
            <if test="deviceIdentification != null">
                device_identification = #{deviceIdentification,jdbcType=VARCHAR},
            </if>
            <if test="protocolType != null">
                protocol_type = #{protocolType,jdbcType=VARCHAR},
            </if>
            <if test="messageId != null">
                message_id = #{messageId,jdbcType=VARCHAR},
            </if>
            <if test="topic != null">
                topic = #{topic,jdbcType=VARCHAR},
            </if>
            <if test="message != null">
                message = #{message,jdbcType=LONGVARCHAR},
            </if>
            <if test="status != null">
                `status` = #{status,jdbcType=VARCHAR},
            </if>
            <if test="reportTime != null">
                report_time = #{reportTime,jdbcType=TIMESTAMP},
            </if>
            <if test="createTime != null">
                create_time = #{createTime,jdbcType=TIMESTAMP},
            </if>
        </set>
        where id = #{id,jdbcType=BIGINT}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.mqttsnet.thinglinks.link.api.domain.device.entity.DeviceDatas">
        <!--@mbg.generated-->
        update device_datas
        set device_identification = #{deviceIdentification,jdbcType=VARCHAR},
            protocol_type         = #{protocolType,jdbcType=VARCHAR},
            message_id            = #{messageId,jdbcType=VARCHAR},
            topic                 = #{topic,jdbcType=VARCHAR},
            message               = #{message,jdbcType=LONGVARCHAR},
            `status`              = #{status,jdbcType=VARCHAR},
            report_time           = #{reportTime,jdbcType=TIMESTAMP},
            create_time           = #{createTime,jdbcType=TIMESTAMP}
        where id = #{id,jdbcType=BIGINT}
    </update>
    <update id="updateBatch" parameterType="java.util.List">
        <!--@mbg.generated-->
        update device_datas
        <trim prefix="set" suffixOverrides=",">
            <trim prefix="device_identification = case" suffix="end,">
                <foreach collection="list" index="index" item="item">
                    when id = #{item.id,jdbcType=BIGINT} then #{item.deviceIdentification,jdbcType=VARCHAR}
                </foreach>
            </trim>
            <trim prefix="protocol_type = case" suffix="end,">
                <foreach collection="list" index="index" item="item">
                    when id = #{item.id,jdbcType=BIGINT} then #{item.protocolType,jdbcType=VARCHAR}
                </foreach>
            </trim>
            <trim prefix="message_id = case" suffix="end,">
                <foreach collection="list" index="index" item="item">
                    when id = #{item.id,jdbcType=BIGINT} then #{item.messageId,jdbcType=VARCHAR}
                </foreach>
            </trim>
            <trim prefix="topic = case" suffix="end,">
                <foreach collection="list" index="index" item="item">
                    when id = #{item.id,jdbcType=BIGINT} then #{item.topic,jdbcType=VARCHAR}
                </foreach>
            </trim>
            <trim prefix="message = case" suffix="end,">
                <foreach collection="list" index="index" item="item">
                    when id = #{item.id,jdbcType=BIGINT} then #{item.message,jdbcType=LONGVARCHAR}
                </foreach>
            </trim>
            <trim prefix="`status` = case" suffix="end,">
                <foreach collection="list" index="index" item="item">
                    when id = #{item.id,jdbcType=BIGINT} then #{item.status,jdbcType=VARCHAR}
                </foreach>
            </trim>
            <trim prefix="report_time = case" suffix="end,">
                <foreach collection="list" index="index" item="item">
                    when id = #{item.id,jdbcType=BIGINT} then #{item.reportTime,jdbcType=TIMESTAMP}
                </foreach>
            </trim>
            <trim prefix="create_time = case" suffix="end,">
                <foreach collection="list" index="index" item="item">
                    when id = #{item.id,jdbcType=BIGINT} then #{item.createTime,jdbcType=TIMESTAMP}
                </foreach>
            </trim>
        </trim>
        where id in
        <foreach close=")" collection="list" item="item" open="(" separator=", ">
            #{item.id,jdbcType=BIGINT}
        </foreach>
    </update>
    <update id="updateBatchSelective" parameterType="java.util.List">
        <!--@mbg.generated-->
        update device_datas
        <trim prefix="set" suffixOverrides=",">
            <trim prefix="device_identification = case" suffix="end,">
                <foreach collection="list" index="index" item="item">
                    <if test="item.deviceIdentification != null">
                        when id = #{item.id,jdbcType=BIGINT} then #{item.deviceIdentification,jdbcType=VARCHAR}
                    </if>
                </foreach>
            </trim>
            <trim prefix="protocol_type = case" suffix="end,">
                <foreach collection="list" index="index" item="item">
                    <if test="item.protocolType != null">
                        when id = #{item.id,jdbcType=BIGINT} then #{item.protocolType,jdbcType=VARCHAR}
                    </if>
                </foreach>
            </trim>
            <trim prefix="message_id = case" suffix="end,">
                <foreach collection="list" index="index" item="item">
                    <if test="item.messageId != null">
                        when id = #{item.id,jdbcType=BIGINT} then #{item.messageId,jdbcType=VARCHAR}
                    </if>
                </foreach>
            </trim>
            <trim prefix="topic = case" suffix="end,">
                <foreach collection="list" index="index" item="item">
                    <if test="item.topic != null">
                        when id = #{item.id,jdbcType=BIGINT} then #{item.topic,jdbcType=VARCHAR}
                    </if>
                </foreach>
            </trim>
            <trim prefix="message = case" suffix="end,">
                <foreach collection="list" index="index" item="item">
                    <if test="item.message != null">
                        when id = #{item.id,jdbcType=BIGINT} then #{item.message,jdbcType=LONGVARCHAR}
                    </if>
                </foreach>
            </trim>
            <trim prefix="`status` = case" suffix="end,">
                <foreach collection="list" index="index" item="item">
                    <if test="item.status != null">
                        when id = #{item.id,jdbcType=BIGINT} then #{item.status,jdbcType=VARCHAR}
                    </if>
                </foreach>
            </trim>
            <trim prefix="report_time = case" suffix="end,">
                <foreach collection="list" index="index" item="item">
                    <if test="item.reportTime != null">
                        when id = #{item.id,jdbcType=BIGINT} then #{item.reportTime,jdbcType=TIMESTAMP}
                    </if>
                </foreach>
            </trim>
            <trim prefix="create_time = case" suffix="end,">
                <foreach collection="list" index="index" item="item">
                    <if test="item.createTime != null">
                        when id = #{item.id,jdbcType=BIGINT} then #{item.createTime,jdbcType=TIMESTAMP}
                    </if>
                </foreach>
            </trim>
        </trim>
        where id in
        <foreach close=")" collection="list" item="item" open="(" separator=", ">
            #{item.id,jdbcType=BIGINT}
        </foreach>
    </update>
    <insert id="batchInsert" keyColumn="id" keyProperty="id" parameterType="map" useGeneratedKeys="true">
        <!--@mbg.generated-->
        insert into device_datas
        (device_identification, protocol_type, message_id, topic, message, `status`, report_time,
         create_time)
        values
        <foreach collection="list" item="item" separator=",">
            (#{item.deviceIdentification,jdbcType=VARCHAR}, #{item.protocolType,jdbcType=VARCHAR},
             #{item.messageId,jdbcType=VARCHAR}, #{item.topic,jdbcType=VARCHAR}, #{item.message,jdbcType=LONGVARCHAR},
             #{item.status,jdbcType=VARCHAR}, #{item.reportTime,jdbcType=TIMESTAMP},
             #{item.createTime,jdbcType=TIMESTAMP})
        </foreach>
    </insert>
    <insert id="insertOrUpdate" keyColumn="id" keyProperty="id"
            parameterType="com.mqttsnet.thinglinks.link.api.domain.device.entity.DeviceDatas" useGeneratedKeys="true">
        <!--@mbg.generated-->
        insert into device_datas
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            device_identification,
            protocol_type,
            message_id,
            topic,
            message,
            `status`,
            report_time,
            create_time,
        </trim>
        values
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=BIGINT},
            </if>
            #{deviceIdentification,jdbcType=VARCHAR},
            #{protocolType,jdbcType=VARCHAR},
            #{messageId,jdbcType=VARCHAR},
            #{topic,jdbcType=VARCHAR},
            #{message,jdbcType=LONGVARCHAR},
            #{status,jdbcType=VARCHAR},
            #{reportTime,jdbcType=TIMESTAMP},
            #{createTime,jdbcType=TIMESTAMP},
        </trim>
        on duplicate key update
        <trim suffixOverrides=",">
            <if test="id != null">
                id = #{id,jdbcType=BIGINT},
            </if>
            device_identification = #{deviceIdentification,jdbcType=VARCHAR},
            protocol_type         = #{protocolType,jdbcType=VARCHAR},
            message_id            = #{messageId,jdbcType=VARCHAR},
            topic                 = #{topic,jdbcType=VARCHAR},
            message               = #{message,jdbcType=LONGVARCHAR},
            `status`              = #{status,jdbcType=VARCHAR},
            report_time           = #{reportTime,jdbcType=TIMESTAMP},
            create_time           = #{createTime,jdbcType=TIMESTAMP},
        </trim>
    </insert>
    <insert id="insertOrUpdateSelective" keyColumn="id" keyProperty="id"
            parameterType="com.mqttsnet.thinglinks.link.api.domain.device.entity.DeviceDatas" useGeneratedKeys="true">
        <!--@mbg.generated-->
        insert into device_datas
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="deviceIdentification != null">
                device_identification,
            </if>
            <if test="protocolType != null">
                protocol_type,
            </if>
            <if test="messageId != null">
                message_id,
            </if>
            <if test="topic != null">
                topic,
            </if>
            <if test="message != null">
                message,
            </if>
            <if test="status != null">
                `status`,
            </if>
            <if test="reportTime != null">
                report_time,
            </if>
            <if test="createTime != null">
                create_time,
            </if>
        </trim>
        values
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=BIGINT},
            </if>
            <if test="deviceIdentification != null">
                #{deviceIdentification,jdbcType=VARCHAR},
            </if>
            <if test="protocolType != null">
                #{protocolType,jdbcType=VARCHAR},
            </if>
            <if test="messageId != null">
                #{messageId,jdbcType=VARCHAR},
            </if>
            <if test="topic != null">
                #{topic,jdbcType=VARCHAR},
            </if>
            <if test="message != null">
                #{message,jdbcType=LONGVARCHAR},
            </if>
            <if test="status != null">
                #{status,jdbcType=VARCHAR},
            </if>
            <if test="reportTime != null">
                #{reportTime,jdbcType=TIMESTAMP},
            </if>
            <if test="createTime != null">
                #{createTime,jdbcType=TIMESTAMP},
            </if>
        </trim>
        on duplicate key update
        <trim suffixOverrides=",">
            <if test="id != null">
                id = #{id,jdbcType=BIGINT},
            </if>
            <if test="deviceIdentification != null">
                device_identification = #{deviceIdentification,jdbcType=VARCHAR},
            </if>
            <if test="protocolType != null">
                protocol_type = #{protocolType,jdbcType=VARCHAR},
            </if>
            <if test="messageId != null">
                message_id = #{messageId,jdbcType=VARCHAR},
            </if>
            <if test="topic != null">
                topic = #{topic,jdbcType=VARCHAR},
            </if>
            <if test="message != null">
                message = #{message,jdbcType=LONGVARCHAR},
            </if>
            <if test="status != null">
                `status` = #{status,jdbcType=VARCHAR},
            </if>
            <if test="reportTime != null">
                report_time = #{reportTime,jdbcType=TIMESTAMP},
            </if>
            <if test="createTime != null">
                create_time = #{createTime,jdbcType=TIMESTAMP},
            </if>
        </trim>
    </insert>
</mapper>