<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mqttsnet.thinglinks.link.mapper.device.MqttsDeviceActionMapper">
  <resultMap id="BaseResultMap" type="com.mqttsnet.thinglinks.link.api.domain.device.MqttsDeviceAction">
    <!--@mbg.generated-->
    <!--@Table thinglinks.mqtts_device_action-->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="device_id" jdbcType="VARCHAR" property="device_id" />
    <result column="action_type" jdbcType="VARCHAR" property="action_type" />
    <result column="status" jdbcType="VARCHAR" property="status" />
    <result column="create_time" jdbcType="TIMESTAMP" property="create_time" />
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="com.mqttsnet.thinglinks.link.api.domain.device.MqttsDeviceAction">
    <!--@mbg.generated-->
    <!--@Table thinglinks.mqtts_device_action-->
    <result column="message" jdbcType="LONGVARCHAR" property="message" />
  </resultMap>

  <resultMap id="MqttsDeviceActionResult" type="com.mqttsnet.thinglinks.link.api.domain.device.MqttsDeviceAction">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="device_id" jdbcType="VARCHAR" property="device_id" />
    <result column="action_type" jdbcType="VARCHAR" property="action_type" />
    <result column="status" jdbcType="VARCHAR" property="status" />
    <result column="message" jdbcType="LONGVARCHAR" property="message" />
    <result column="create_time" jdbcType="TIMESTAMP" property="create_time" />
  </resultMap>

  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, device_id, action_type, `status`, create_time
  </sql>
  <sql id="Blob_Column_List">
    <!--@mbg.generated-->
    message
  </sql>

  <sql id="selectMqttsDeviceActionVo">
    select id, device_id, action_type, message, status, create_time from mqtts_device_action
  </sql>

  <select id="selectMqttsDeviceActionList" parameterType="com.mqttsnet.thinglinks.link.api.domain.device.MqttsDeviceAction" resultMap="MqttsDeviceActionResult">
    <include refid="selectMqttsDeviceActionVo"/>
    <where>
      <if test="status != null  and status != ''"> and status = #{status}</if>
      <if test="deviceId != null  and deviceId != ''"> and device_id = #{deviceId}</if>
    </where>
  </select>

  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="ResultMapWithBLOBs">
    <!--@mbg.generated-->
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from mqtts.mqtts_device_action
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    <!--@mbg.generated-->
    delete from mqtts.mqtts_device_action
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" keyColumn="id" keyProperty="id" parameterType="com.mqttsnet.thinglinks.link.api.domain.device.MqttsDeviceAction" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into mqtts.mqtts_device_action (device_id, action_type, `status`, 
      create_time, message)
    values (#{device_id,jdbcType=VARCHAR}, #{action_type,jdbcType=VARCHAR}, #{status,jdbcType=VARCHAR}, 
      #{create_time,jdbcType=TIMESTAMP}, #{message,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" keyColumn="id" keyProperty="id" parameterType="com.mqttsnet.thinglinks.link.api.domain.device.MqttsDeviceAction" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into mqtts.mqtts_device_action
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="device_id != null and device_id != ''">
        device_id,
      </if>
      <if test="action_type != null and action_type != ''">
        action_type,
      </if>
      <if test="status != null and status != ''">
        `status`,
      </if>
      <if test="create_time != null">
        create_time,
      </if>
      <if test="message != null and message != ''">
        message,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="device_id != null and device_id != ''">
        #{device_id,jdbcType=VARCHAR},
      </if>
      <if test="action_type != null and action_type != ''">
        #{action_type,jdbcType=VARCHAR},
      </if>
      <if test="status != null and status != ''">
        #{status,jdbcType=VARCHAR},
      </if>
      <if test="create_time != null">
        #{create_time,jdbcType=TIMESTAMP},
      </if>
      <if test="message != null and message != ''">
        #{message,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.mqttsnet.thinglinks.link.api.domain.device.MqttsDeviceAction">
    <!--@mbg.generated-->
    update mqtts.mqtts_device_action
    <set>
      <if test="device_id != null and device_id != ''">
        device_id = #{device_id,jdbcType=VARCHAR},
      </if>
      <if test="action_type != null and action_type != ''">
        action_type = #{action_type,jdbcType=VARCHAR},
      </if>
      <if test="status != null and status != ''">
        `status` = #{status,jdbcType=VARCHAR},
      </if>
      <if test="create_time != null">
        create_time = #{create_time,jdbcType=TIMESTAMP},
      </if>
      <if test="message != null and message != ''">
        message = #{message,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.mqttsnet.thinglinks.link.api.domain.device.MqttsDeviceAction">
    <!--@mbg.generated-->
    update mqtts.mqtts_device_action
    set device_id = #{device_id,jdbcType=VARCHAR},
      action_type = #{action_type,jdbcType=VARCHAR},
      `status` = #{status,jdbcType=VARCHAR},
      create_time = #{create_time,jdbcType=TIMESTAMP},
      message = #{message,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.mqttsnet.thinglinks.link.api.domain.device.MqttsDeviceAction">
    <!--@mbg.generated-->
    update mqtts.mqtts_device_action
    set device_id = #{device_id,jdbcType=VARCHAR},
      action_type = #{action_type,jdbcType=VARCHAR},
      `status` = #{status,jdbcType=VARCHAR},
      create_time = #{create_time,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateBatch" parameterType="java.util.List">
    <!--@mbg.generated-->
    update mqtts.mqtts_device_action
    <trim prefix="set" suffixOverrides=",">
      <trim prefix="device_id = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id,jdbcType=BIGINT} then #{item.device_id,jdbcType=VARCHAR}
        </foreach>
      </trim>
      <trim prefix="action_type = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id,jdbcType=BIGINT} then #{item.action_type,jdbcType=VARCHAR}
        </foreach>
      </trim>
      <trim prefix="`status` = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id,jdbcType=BIGINT} then #{item.status,jdbcType=VARCHAR}
        </foreach>
      </trim>
      <trim prefix="create_time = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id,jdbcType=BIGINT} then #{item.create_time,jdbcType=TIMESTAMP}
        </foreach>
      </trim>
      <trim prefix="message = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id,jdbcType=BIGINT} then #{item.message,jdbcType=LONGVARCHAR}
        </foreach>
      </trim>
    </trim>
    where id in
    <foreach close=")" collection="list" item="item" open="(" separator=", ">
      #{item.id,jdbcType=BIGINT}
    </foreach>
  </update>
  <update id="updateBatchSelective" parameterType="java.util.List">
    <!--@mbg.generated-->
    update mqtts.mqtts_device_action
    <trim prefix="set" suffixOverrides=",">
      <trim prefix="device_id = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.device_id != null">
            when id = #{item.id,jdbcType=BIGINT} then #{item.device_id,jdbcType=VARCHAR}
          </if>
        </foreach>
      </trim>
      <trim prefix="action_type = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.action_type != null">
            when id = #{item.id,jdbcType=BIGINT} then #{item.action_type,jdbcType=VARCHAR}
          </if>
        </foreach>
      </trim>
      <trim prefix="`status` = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.status != null">
            when id = #{item.id,jdbcType=BIGINT} then #{item.status,jdbcType=VARCHAR}
          </if>
        </foreach>
      </trim>
      <trim prefix="create_time = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.create_time != null">
            when id = #{item.id,jdbcType=BIGINT} then #{item.create_time,jdbcType=TIMESTAMP}
          </if>
        </foreach>
      </trim>
      <trim prefix="message = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.message != null">
            when id = #{item.id,jdbcType=BIGINT} then #{item.message,jdbcType=LONGVARCHAR}
          </if>
        </foreach>
      </trim>
    </trim>
    where id in
    <foreach close=")" collection="list" item="item" open="(" separator=", ">
      #{item.id,jdbcType=BIGINT}
    </foreach>
  </update>
  <insert id="batchInsert" keyColumn="id" keyProperty="id" parameterType="map" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into mqtts.mqtts_device_action
    (device_id, action_type, `status`, create_time, message)
    values
    <foreach collection="list" item="item" separator=",">
      (#{item.device_id,jdbcType=VARCHAR}, #{item.action_type,jdbcType=VARCHAR}, #{item.status,jdbcType=VARCHAR}, 
        #{item.create_time,jdbcType=TIMESTAMP}, #{item.message,jdbcType=LONGVARCHAR})
    </foreach>
  </insert>
  <insert id="insertOrUpdate" keyColumn="id" keyProperty="id" parameterType="com.mqttsnet.thinglinks.link.api.domain.device.MqttsDeviceAction" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into mqtts.mqtts_device_action
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      device_id,
      action_type,
      `status`,
      message,
      create_time,
    </trim>
    values
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      #{device_id,jdbcType=VARCHAR},
      #{action_type,jdbcType=VARCHAR},
      #{status,jdbcType=VARCHAR},
      #{message,jdbcType=LONGVARCHAR},
      #{create_time,jdbcType=TIMESTAMP},
    </trim>
    on duplicate key update 
    <trim suffixOverrides=",">
      <if test="id != null">
        id = #{id,jdbcType=BIGINT},
      </if>
      device_id = #{device_id,jdbcType=VARCHAR},
      action_type = #{action_type,jdbcType=VARCHAR},
      `status` = #{status,jdbcType=VARCHAR},
      message = #{message,jdbcType=LONGVARCHAR},
      create_time = #{create_time,jdbcType=TIMESTAMP},
    </trim>
  </insert>
  <insert id="insertOrUpdateWithBLOBs" keyColumn="id" keyProperty="id" parameterType="com.mqttsnet.thinglinks.link.api.domain.device.MqttsDeviceAction" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into mqtts.mqtts_device_action
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      device_id,
      action_type,
      `status`,
      create_time,
      message,
    </trim>
    values
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      #{device_id,jdbcType=VARCHAR},
      #{action_type,jdbcType=VARCHAR},
      #{status,jdbcType=VARCHAR},
      #{create_time,jdbcType=TIMESTAMP},
      #{message,jdbcType=LONGVARCHAR},
    </trim>
    on duplicate key update 
    <trim suffixOverrides=",">
      <if test="id != null">
        id = #{id,jdbcType=BIGINT},
      </if>
      device_id = #{device_id,jdbcType=VARCHAR},
      action_type = #{action_type,jdbcType=VARCHAR},
      `status` = #{status,jdbcType=VARCHAR},
      create_time = #{create_time,jdbcType=TIMESTAMP},
      message = #{message,jdbcType=LONGVARCHAR},
    </trim>
  </insert>
  <insert id="insertOrUpdateSelective" keyColumn="id" keyProperty="id" parameterType="com.mqttsnet.thinglinks.link.api.domain.device.MqttsDeviceAction" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into mqtts.mqtts_device_action
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="device_id != null and device_id != ''">
        device_id,
      </if>
      <if test="action_type != null and action_type != ''">
        action_type,
      </if>
      <if test="status != null and status != ''">
        `status`,
      </if>
      <if test="create_time != null">
        create_time,
      </if>
      <if test="message != null and message != ''">
        message,
      </if>
    </trim>
    values
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="device_id != null and device_id != ''">
        #{device_id,jdbcType=VARCHAR},
      </if>
      <if test="action_type != null and action_type != ''">
        #{action_type,jdbcType=VARCHAR},
      </if>
      <if test="status != null and status != ''">
        #{status,jdbcType=VARCHAR},
      </if>
      <if test="create_time != null">
        #{create_time,jdbcType=TIMESTAMP},
      </if>
      <if test="message != null and message != ''">
        #{message,jdbcType=LONGVARCHAR},
      </if>
    </trim>
    on duplicate key update 
    <trim suffixOverrides=",">
      <if test="id != null">
        id = #{id,jdbcType=BIGINT},
      </if>
      <if test="device_id != null and device_id != ''">
        device_id = #{device_id,jdbcType=VARCHAR},
      </if>
      <if test="action_type != null and action_type != ''">
        action_type = #{action_type,jdbcType=VARCHAR},
      </if>
      <if test="status != null and status != ''">
        `status` = #{status,jdbcType=VARCHAR},
      </if>
      <if test="create_time != null">
        create_time = #{create_time,jdbcType=TIMESTAMP},
      </if>
      <if test="message != null and message != ''">
        message = #{message,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>

  <delete id="deleteMqttsDeviceActionByIds" parameterType="String">
    delete from mqtts_device_action where id in
    <foreach item="id" collection="array" open="(" separator="," close=")">
      #{id}
    </foreach>
  </delete>
</mapper>