<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mqttsnet.thinglinks.product.mapper.ProductMapper">
    <!--
        代码生成器 by 2023-03-14 19:39:59
        自定义sql建议在base文件夹同级新建ext文件夹，并新建同名且同namespace的xml进行编写。方便修改字段时，重新生成此文件。
    -->

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.mqttsnet.thinglinks.product.entity.Product">
        <id column="id" property="id"/>
        <result column="app_id" property="appId"/>
        <result column="template_id" property="templateId"/>
        <result column="product_name" property="productName"/>
        <result column="product_identification" property="productIdentification"/>
        <result column="product_type" property="productType"/>
        <result column="manufacturer_id" property="manufacturerId"/>
        <result column="manufacturer_name" property="manufacturerName"/>
        <result column="model" property="model"/>
        <result column="data_format" property="dataFormat"/>
        <result column="device_type" property="deviceType"/>
        <result column="protocol_type" property="protocolType"/>
        <result column="product_status" property="productStatus"/>
        <result column="active_version_no" property="activeVersionNo"/>
        <result column="previous_full_version_no" property="previousFullVersionNo"/>
        <result column="remark" property="remark"/>
        <result column="deleted" property="deleted"/>
        <result column="created_time" property="createdTime"/>
        <result column="created_by" property="createdBy"/>
        <result column="updated_time" property="updatedTime"/>
        <result column="updated_by" property="updatedBy"/>
        <result column="created_org_id" property="createdOrgId"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, app_id, template_id, product_name, product_identification, product_type, 
        manufacturer_id, manufacturer_name, model, data_format, device_type, protocol_type, 
        product_status, active_version_no, previous_full_version_no, remark, deleted, created_time, created_by, updated_time,
        updated_by, created_org_id
    </sql>

    <!-- 逻辑删除条件 - 可在其他SQL中引用 -->
    <sql id="LogicDelete_Condition">
        <if test="true">deleted = 0</if>
    </sql>

</mapper>
