<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="net.mqtts.link.mapper.MqttsDeviceMapper">
    
    <resultMap type="MqttsDevice" id="MqttsDeviceResult">
        <result property="id"    column="id"    />
        <result property="clientId"    column="client_id"    />
        <result property="userName"    column="user_name"    />
        <result property="password"    column="password"    />
        <result property="authMode"    column="auth_mode"    />
        <result property="deviceId"    column="device_id"    />
        <result property="deviceName"    column="device_name"    />
        <result property="latitude"    column="latitude"    />
        <result property="longitude"    column="longitude"    />
        <result property="connector"    column="connector"    />
        <result property="deviceDescription"    column="device_description"    />
        <result property="deviceStatus"    column="device_status"    />
        <result property="connectStatus"    column="connect_status"    />
        <result property="isWill"    column="is_will"    />
        <result property="deviceTags"    column="device_tags"    />
        <result property="productId"    column="product_id"    />
        <result property="manufacturerId"    column="manufacturer_id"    />
        <result property="protocolType"    column="protocol_type"    />
        <result property="deviceType"    column="device_type"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="remark"    column="remark"    />
    </resultMap>

    <sql id="selectMqttsDeviceVo">
        select id, client_id, user_name, password, auth_mode, device_id, device_name, latitude, longitude, connector, device_description, device_status, connect_status, is_will, device_tags, product_id, manufacturer_id, protocol_type, device_type, create_by, create_time, update_by, update_time, remark from mqtts_device
    </sql>

    <select id="selectMqttsDeviceList" parameterType="MqttsDevice" resultMap="MqttsDeviceResult">
        <include refid="selectMqttsDeviceVo"/>
        <where>  
            <if test="clientId != null  and clientId != ''"> and client_id like concat('%', #{clientId}, '%')</if>
            <if test="deviceId != null  and deviceId != ''"> and device_id like concat('%', #{deviceId}, '%')</if>
            <if test="deviceName != null  and deviceName != ''"> and device_name like concat('%', #{deviceName}, '%')</if>
            <if test="connector != null  and connector != ''"> and connector = #{connector}</if>
            <if test="deviceStatus != null  and deviceStatus != ''"> and device_status = #{deviceStatus}</if>
            <if test="connectStatus != null  and connectStatus != ''"> and connect_status = #{connectStatus}</if>
            <if test="deviceTags != null  and deviceTags != ''"> and device_tags like concat('%', #{deviceTags}, '%')</if>
            <if test="productId != null  and productId != ''"> and product_id = #{productId}</if>
            <if test="manufacturerId != null  and manufacturerId != ''"> and manufacturer_id = #{manufacturerId}</if>
            <if test="protocolType != null  and protocolType != ''"> and protocol_type = #{protocolType}</if>
            <if test="deviceType != null  and deviceType != ''"> and device_type = #{deviceType}</if>
        </where>
    </select>
    
    <select id="selectMqttsDeviceById" parameterType="Long" resultMap="MqttsDeviceResult">
        <include refid="selectMqttsDeviceVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertMqttsDevice" parameterType="MqttsDevice">
        insert into mqtts_device
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">id,</if>
            <if test="clientId != null and clientId != ''">client_id,</if>
            <if test="userName != null and userName != ''">user_name,</if>
            <if test="password != null and password != ''">password,</if>
            <if test="authMode != null and authMode != ''">auth_mode,</if>
            <if test="deviceId != null and deviceId != ''">device_id,</if>
            <if test="deviceName != null and deviceName != ''">device_name,</if>
            <if test="latitude != null">latitude,</if>
            <if test="longitude != null">longitude,</if>
            <if test="connector != null and connector != ''">connector,</if>
            <if test="deviceDescription != null">device_description,</if>
            <if test="deviceStatus != null and deviceStatus != ''">device_status,</if>
            <if test="connectStatus != null and connectStatus != ''">connect_status,</if>
            <if test="isWill != null">is_will,</if>
            <if test="deviceTags != null">device_tags,</if>
            <if test="productId != null and productId != ''">product_id,</if>
            <if test="manufacturerId != null and manufacturerId != ''">manufacturer_id,</if>
            <if test="protocolType != null and protocolType != ''">protocol_type,</if>
            <if test="deviceType != null and deviceType != ''">device_type,</if>
            <if test="createBy != null and createBy != ''">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null and updateBy != ''">update_by,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="remark != null">remark,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">#{id},</if>
            <if test="clientId != null and clientId != ''">#{clientId},</if>
            <if test="userName != null and userName != ''">#{userName},</if>
            <if test="password != null and password != ''">#{password},</if>
            <if test="authMode != null and authMode != ''">#{authMode},</if>
            <if test="deviceId != null and deviceId != ''">#{deviceId},</if>
            <if test="deviceName != null and deviceName != ''">#{deviceName},</if>
            <if test="latitude != null">#{latitude},</if>
            <if test="longitude != null">#{longitude},</if>
            <if test="connector != null and connector != ''">#{connector},</if>
            <if test="deviceDescription != null">#{deviceDescription},</if>
            <if test="deviceStatus != null and deviceStatus != ''">#{deviceStatus},</if>
            <if test="connectStatus != null and connectStatus != ''">#{connectStatus},</if>
            <if test="isWill != null">#{isWill},</if>
            <if test="deviceTags != null">#{deviceTags},</if>
            <if test="productId != null and productId != ''">#{productId},</if>
            <if test="manufacturerId != null and manufacturerId != ''">#{manufacturerId},</if>
            <if test="protocolType != null and protocolType != ''">#{protocolType},</if>
            <if test="deviceType != null and deviceType != ''">#{deviceType},</if>
            <if test="createBy != null and createBy != ''">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null and updateBy != ''">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="remark != null">#{remark},</if>
         </trim>
    </insert>

    <update id="updateMqttsDevice" parameterType="MqttsDevice">
        update mqtts_device
        <trim prefix="SET" suffixOverrides=",">
            <if test="clientId != null and clientId != ''">client_id = #{clientId},</if>
            <if test="userName != null and userName != ''">user_name = #{userName},</if>
            <if test="password != null and password != ''">password = #{password},</if>
            <if test="authMode != null and authMode != ''">auth_mode = #{authMode},</if>
            <if test="deviceId != null and deviceId != ''">device_id = #{deviceId},</if>
            <if test="deviceName != null and deviceName != ''">device_name = #{deviceName},</if>
            <if test="latitude != null">latitude = #{latitude},</if>
            <if test="longitude != null">longitude = #{longitude},</if>
            <if test="connector != null and connector != ''">connector = #{connector},</if>
            <if test="deviceDescription != null">device_description = #{deviceDescription},</if>
            <if test="deviceStatus != null and deviceStatus != ''">device_status = #{deviceStatus},</if>
            <if test="connectStatus != null and connectStatus != ''">connect_status = #{connectStatus},</if>
            <if test="isWill != null">is_will = #{isWill},</if>
            <if test="deviceTags != null">device_tags = #{deviceTags},</if>
            <if test="productId != null and productId != ''">product_id = #{productId},</if>
            <if test="manufacturerId != null and manufacturerId != ''">manufacturer_id = #{manufacturerId},</if>
            <if test="protocolType != null and protocolType != ''">protocol_type = #{protocolType},</if>
            <if test="deviceType != null and deviceType != ''">device_type = #{deviceType},</if>
            <if test="createBy != null and createBy != ''">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null and updateBy != ''">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="remark != null">remark = #{remark},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteMqttsDeviceById" parameterType="Long">
        delete from mqtts_device where id = #{id}
    </delete>

    <delete id="deleteMqttsDeviceByIds" parameterType="String">
        delete from mqtts_device where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>